@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300);
* {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.1rem; }

html {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

a {
  text-decoration: none;
  color: deepskyblue; }

.inline-grey {
  background: gainsboro;
  border-radius: 4px; }

body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  body:after {
    content: " ";
    display: block;
    clear: both; }

.wrapper {
  margin-top: 5%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 83.33333%;
  float: left;
  margin-left: 8.33333%;
  margin-right: -100%;
  padding-left: 0.41667%;
  padding-right: 0.41667%; }

.icon {
  color: white; }

/*================ NavBar ================ */
#nav {
  text-align: center;
  height: 4.25em;
  cursor: default; }
  #nav a {
    margin: 0 0.5em 0 0.5em;
    font-size: 2.5em;
    opacity: 0.35;
    outline: 0;
    position: relative;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out; }
    #nav a:hover {
      opacity: 1.0; }
      #nav a:hover span {
        opacity: 1; }
    #nav a span {
      display: block;
      position: absolute;
      top: -3.35em;
      left: 50%;
      margin-left: -2.75em;
      font-size: 0.3em;
      height: 2.25em;
      line-height: 2.25em;
      width: 5.5em;
      background: #000000;
      color: wheat;
      opacity: 0;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
      -o-transition: opacity .25s ease-in-out;
      -ms-transition: opacity .25s ease-in-out;
      transition: opacity .25s ease-in-out; }
      #nav a span:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-top-color: #000000;
        border-width: 10px;
        margin-left: -10px; }
    #nav a:after {
      z-index: 6;
      content: '';
      display: block;
      position: absolute;
      bottom: -0.95em;
      left: 50%;
      margin-left: -0.5em;
      border-bottom: solid 0em #ffffff;
      border-left: solid 0.5em transparent;
      border-right: solid 0.5em transparent;
      -moz-transition: border-bottom-width .6s ease-in-out;
      -webkit-transition: border-bottom-width .6s ease-in-out;
      -o-transition: border-bottom-width .6s ease-in-out;
      -ms-transition: border-bottom-width .6s ease-in-out;
      transition: border-bottom-width .6s ease-in-out; }
  #nav .active {
    opacity: 1; }
    #nav .active:after {
      border-bottom-width: 0.5em; }

/*================ Homepage ================ */
#home {
  margin-top: 1%;
  background: white;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.38);
  -moz-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.38);
  box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.38);
  height: 40%; }
  #home:after {
    content: " ";
    display: block;
    clear: both; }

.front-info {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 62.5%;
  float: left;
  padding-left: 0.41667%;
  padding-right: 0.41667%; }
  .front-info section {
    margin-left: 8.33333%;
    margin-top: 20%; }
    .front-info section h1 {
      opacity: 0.8;
      margin-bottom: -2%; }
    .front-info section h2 {
      opacity: 0.7;
      font-size: 1.2em;
      font-weight: 200; }
    .front-info section .wrap {
      font-size: 2.1em;
      color: green; }

.my-image {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 37.5%;
  float: left;
  padding-left: 0.41667%;
  padding-right: 0.41667%;
  overflow: hidden;
  height: 55%;
  margin-bottom: -0.39em; }
  .my-image img {
    height: inherit; }

/*================ Work Page ================ */
#work {
  margin-top: 1%;
  background: white;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.38);
  -moz-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.38);
  box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.38); }
  #work:after {
    content: " ";
    display: block;
    clear: both; }
  #work div#skill {
    padding-top: 1px;
    margin-left: 1em;
    margin-right: 1em;
    text-align: justify;
    text-justify: inter-word; }
    #work div#skill section {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 25%;
      float: left;
      padding-left: 0.41667%;
      padding-right: 0.41667%; }
    #work div#skill #banner {
      width: 100%; }
  #work div#works {
    clear: both;
    padding-top: 1px;
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 2em;
    text-align: justify;
    text-justify: inter-word; }
    #work div#works h1 {
      opacity: 0.8;
      text-align: center; }
    #work div#works section.work {
      clear: both;
      margin-top: 0.5em;
      height: 6.5em; }
      #work div#works section.work img {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 25%;
        float: left;
        padding-left: 0.41667%;
        padding-right: 0.41667%; }
      #work div#works section.work p {
        margin-left: 0.8em;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 70.83333%;
        float: left;
        padding-left: 0.41667%;
        padding-right: 0.41667%;
        margin-top: -5px; }
      #work div#works section.work a {
        margin-left: 0.8em; }

/*================ BlogList Page ================ */
#blogList {
  margin-top: 1%;
  background: white;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.38);
  -moz-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.38);
  box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.38);
  padding-top: 1em; }
  #blogList:after {
    content: " ";
    display: block;
    clear: both; }
  #blogList .blog-in-short {
    height: 13em; }
    #blogList .blog-in-short .blog-in-short-time {
      text-align: center;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 16.66667%;
      float: left;
      padding-left: 0.41667%;
      padding-right: 0.41667%;
      background: lightgray;
      border-radius: 20px;
      margin-left: 1em;
      margin-top: 0.5em; }
      #blogList .blog-in-short .blog-in-short-time h1 {
        font-size: 5em;
        margin-top: 0;
        margin-bottom: 0; }
      #blogList .blog-in-short .blog-in-short-time span {
        font-size: 0.5em; }
    #blogList .blog-in-short .blog-in-short-body {
      margin-left: 1em;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 79.16667%;
      float: left;
      padding-left: 0.41667%;
      padding-right: 0.41667%; }
      #blogList .blog-in-short .blog-in-short-body h1 {
        margin-top: 0;
        margin-bottom: 0; }

/*================ Footer ================ */
footer {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em; }
  footer a {
    margin-left: 0.1em;
    margin-right: 0.1em;
    opacity: 0.5;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out; }
    footer a:hover {
      opacity: 1; }
  footer #twitter:hover {
    color: deepskyblue; }
  footer #plus:hover {
    color: orangered; }
  footer #github:hover {
    color: #000000; }

/*# sourceMappingURL=importer.css.map */
