$susy:(
    columns: 24,
    gutters: 1/4,
    math: fluid,
    output: float,
    gutter-position: inside,
);

body{
    @include container(100%);
}

.wrapper{
    margin-top: 5%;
    @include span(isolate 20 at 3 of 24);
    //border: 1px blue solid;
}
