@mixin textbox{
  position: absolute;
  @include span(10 of 12);
  left: 8%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid $grey;
  text-align: center;
}
@mixin invisible-button{
  background:none!important;
  border:none;
  padding:0!important;
}
@mixin page{
    margin-top: 1%;
    background: white;
    @include container(90%);
    position: relative;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.38);
    -moz-box-shadow:    2px 2px 10px 0px rgba(50, 50, 50, 0.38);
    box-shadow:         2px 2px 10px 0px rgba(50, 50, 50, 0.38);
}