.icon{
    color: white;
}

/*================ NavBar ================ */
#nav
{
    text-align: center;
    height: 4.25em;
    cursor: default;
    a{
        margin: 0 0.5em 0 0.5em;
        font-size: 2.5em;
        opacity: 0.35;
        outline: 0;
        position: relative;
        transition: opacity .25s ease-in-out;
        &:hover{
            opacity: 1.0;
            span{
                opacity: 1;
            }
        }
        span{
            display: block;
            position: absolute;
            top: -3.35em;
            left: 50%;
            margin-left: -2.75em;
            font-size: 0.3em;
            height: 2.25em;
            line-height: 2.25em;
            width: 5.5em;
            background: #000000;
            color: wheat;
            opacity: 0;
            transition: opacity .25s ease-in-out;
            &:after{
                top: 100%;
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(0, 0, 0, 0);
                border-top-color: #000000;
                border-width: 10px;
                margin-left: -10px;
            }
        }
        &:after{
            z-index: 6;
            content: '';
            display: block;
            position: absolute;
            bottom: -0.95em;
            left: 50%;
            margin-left: -0.5em;
            border-bottom: solid 0em #ffffff;
            border-left: solid 0.5em transparent;
            border-right: solid 0.5em transparent;
            transition: border-bottom-width .6s ease-in-out;
        }
    }
    .active{
        opacity: 1;
        &:after{
            border-bottom-width: 0.5em;
        }
    }
}

/*================ Homepage ================ */
#home{
    @include page();
    height: 20em;
}

.front-info{
    @include span(15);
    section{
        margin-left: span(2);
        margin-top: 20%;
        h1{
            opacity: 0.8;
            margin-bottom: -2%;
        }
        h2{
            opacity: 0.7;
            font-size: 1.2em;
            font-weight: 200;
        }
        .wrap{
            font-size: 2.1em;
            color: green;
        }
    }
}
.my-image{
    @include span(9);
    overflow: hidden;
    height: 100%;
    margin-bottom: -0.39em;
    img{
        height: inherit;
    }
}
/*================ Work Page ================ */
#work{
    @include page();
    div#skill{
        padding-top: 1px;
        margin-left: 1em;
        margin-right: 1em;
        text-align: justify;
        text-justify: inter-word;
        section{
            @include span(6);
        }
        #banner{
            width: 100%;
        }
    }
    div#works{
        clear: both;
        padding-top: 1px;
        margin-left: 1em;
        margin-right: 1em;
        padding-bottom: 2em;
        text-align: justify;
        text-justify: inter-word;
        h1{
            opacity: 0.8;
            text-align: center;
        }
        section.work{
            clear: both;
            margin-top: 0.5em;
            height: 6.5em;
            img{
                @include span(6);
                transition: all 0.3s;
                &:hover{
                    transform: scale(1.2);
                }
            }
            p{
                margin-left: 0.8em;
                @include span(17);
                margin-top: -5px;
            }
            a{
                margin-left: 0.8em;
            }
        }
    }
}

/*================ BlogList Page ================ */
#blogList{
    @include page();
    padding-top: 1em;
    .blog-in-short{
        height: 13em;
        //border: 1px solid blue;
        .blog-in-short-time{
            text-align: center;
            h1{
                font-size: 5em;
                margin-top: 0;
                margin-bottom: 0;
            }
            span{
                font-size: 0.5em;
            }
            @include span(4);
            background: lightgray;
            border-radius: 20px;
            margin-left: 1em;
            margin-top: 0.5em;
        }
        .blog-in-short-body{
            h1{
                margin-top: 0;
                margin-bottom: 0;
            }
            margin-left: 1em;
            @include span(19);
        }
    }
}

/*================ Footer ================ */
footer{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    a{
        margin-left: 0.1em;
        margin-right: 0.1em;
        opacity: 0.5;
        transition: all .25s ease-in-out;
        &:hover{
            opacity: 1;
        }
    }
    #twitter:hover{
        color: deepskyblue;
    }
    #plus:hover{
        color: orangered;
    }
    #github:hover{
        color: #000000;
    }
}