<section id="blogList">
    <div class="blog-in-short">
        <section class="blog-in-short-time">
            <h1>27<span>th</span></h1>
            <p>July, 2014</p>
        </section>
        <section class="blog-in-short-body">
            <h1>Ollolo Matta Never Lolela</h1>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cumque deleniti excepturi facere fuga id ipsam magnam, minus nesciunt pariatur quasi quod recusandae, rem reprehenderit sed sit, vel veritatis voluptate?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam aspernatur aut culpa, dicta eum fugiat ipsa ipsum maxime, molestias mollitia nesciunt non odit, porro ratione sapiente tenetur ullam ut!
            </div>
        </section>
    </div>
    <div class="blog-in-short">
        <section class="blog-in-short-time">
            <h1>1<span>st</span></h1>
            <p>March, 1558</p>
        </section>
        <section class="blog-in-short-body">
            <h1>Sototo Potata Lalal Setata</h1>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cumque deleniti excepturi facere fuga id ipsam magnam, minus nesciunt pariatur quasi quod recusandae, rem reprehenderit sed sit, vel veritatis voluptate?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium, dicta dolorem eos, esse explicabo illum impedit ipsa mollitia nisi nobis quaerat quasi quisquam quod repudiandae sit soluta, vel.
            </div>
        </section>
    </div>
    <div class="blog-in-short">
        <section class="blog-in-short-time">
            <h1>11<span>th</span></h1>
            <p>September, 1994</p>
        </section>
        <section class="blog-in-short-body">
            <h1>Piola Samona Oloa Totoa</h1>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam aspernatur aut culpa, dicta eum fugiat ipsa ipsum maxime, molestias mollitia nesciunt non odit, porro ratione sapiente tenetur ullam ut!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab accusantium, dicta dolorem eos, esse explicabo illum impedit ipsa mollitia nisi nobis quaerat quasi quisquam quod repudiandae sit soluta, vel.
            </div>
        </section>
    </div>
</section>