<div class="wrapper">
    <!-- Nav -->
    <nav id="nav">

        <div ui-sref-active="active"><a ui-sref="nav.home" class="icon fa fa-home fa-3x"><span>Home</span></a></div>
        <div ui-sref-active="active"><a ui-sref="state1" class="icon fa fa-folder fa-3x"><span>Work</span></a></div>
        <div ui-sref-active="active"><a ui-sref="state1" class="icon fa fa-envelope fa-3x"><span>Contact</span></a></div>
        <div ui-sref-active="active"><a ui-sref="state1" class="icon fa fa-twitter fa-3x"><span>Twitter</span></a></div>
    </nav>
    <div ui-view></div>
</div>