<section id="work">
    <div id="skill">
        <img id="banner" src="images/Banner.png" alt=""/>
        <p>
            I'm mostly a javascript developer. I like to use javacript for frontend and backend. I do php too and occasionally ruby and python. I like to play with new things. So I can get up and running with anything anytime as long as it interests me. I love open source software.
        </p>
        <section class="first-block">
            <h2>For Api Development</h2>
            <ul>
                <li><a target="_blank" href="http://nodejs.org/">Node.Js</a></li>
                <li><a target="_blank" href="http://expressjs.com/">Express JS</a></li>
                <li><a target="_blank" href="http://laravel.com/">Laravel</a></li>
            </ul>
        </section>
        <section class="second-block">
            <h2>For Database Management</h2>
            <ul>
                <li><a href="http://postgresql.org/">PostgreSQL</a></li>
                <li><a href="http://mongodb.org/">Mongo DB</a></li>
                <li><a href="http://mysql.com/">MySQL</a></li>
            </ul>
        </section>
        <section class="third-block">
            <h2>For Frontend Development</h2>
            <ul>
                <li><a target="_blank" href="http://angularjs.org/">AngularJS</a></li>
                <li><a target="_blank" href="http://jquery.com/">jQuery</a></li>
                <li><a target="_blank" href="http://lodash.com/">Underscore/Lodash</a></li>
            </ul>
        </section>
        <section class="fourth-block">
            <h2>For Realtime Functionality</h2>
            <ul>
                <li><a target="_blank" href="http://socket.io/">Socket.io</a></li>
                <li><a target="_blank" href="http://sailsjs.org/">SailsJs</a></li>
            </ul>
        </section>
    </div>
    <div id="works">
        <h1>Some Of My Recent Works</h1>
        <section class="work">
            <img src="images/todoMVC.png" alt=""/>
            <p>
                A realtime ToDoMVC app using Sails.js backend with socket.io and AngularJS frontend. It's using Tokens for authentication. You can sign in with google.
            </p>
            <a target="_blank" href="http://realtime-sails-todomvc.herokuapp.com">Link To The App</a>
        </section>
        <section class="work">
            <img src="images/noteApp.png" alt=""/>
            <p>
                A note taking application with Laravel backend and AngularJS frontend. Login now with <span class="inline-grey">email:john@doe.com, password:johndoe</span> to see how it works.
            </p>
            <a target="_blank" href="http://safe-badlands-3111.herokuapp.com/">Link To The App</a>
        </section>
    </div>
</section>